$blue: blue;
$red: red;
$green: #30d158;

$white: white;
$grey: grey;
$black: black;

@font-face {
  font-family: "Mattone-150";
  src: url("@/assets/fonts/Mattone-150.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}

body {
  font-family: "Mattone-150";
  background-color: $black;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  height: -webkit-fill-available;
}

a:visited {
  text-decoration: none;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background-color: white;
  mix-blend-mode: difference;
  // transition: 0.1s;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  pointer-events: none;

  z-index: 1000;

  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hoverino:hover ~ .cursor {
  -webkit-transform: scale(4);
  -moz-transform: scale(4);
  -ms-transform: scale(4);
  transform: scale(4);
}
